In [1]:
import pandas as pd

In [2]:
data = pd.read_csv(r"..\2. eda_n_dataCleaning\cleaned_data.csv")
data.head(3)

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0

In [3]:
data['q1_num_char'] = data['question1'].str.len()
data['q2_num_char'] = data['question2'].str.len()
data.head()

,id,qid1,qid2,question1,question2,is_duplicate,q1_num_char,q2_num_char
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0,66,57
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0,51,88
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0,73,59
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0,50,65
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0,76,39

In [4]:
data['q1_num_words'] = data['question1'].astype(str).apply(lambda x: len(x.split(' ')))
data['q2_num_words'] = data['question2'].astype(str).apply(lambda x: len(x.split(' ')))
data.head()

,id,qid1,qid2,question1,question2,is_duplicate,q1_num_char,q2_num_char,q1_num_words,q2_num_words
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0,66,57,14,12
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0,51,88,8,13
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0,73,59,14,10
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0,50,65,11,9
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0,76,39,13,7

In [5]:
def find_common_words(row):
    common_words=[]
    for q1_word in row.astype(str)['question1'].split(' '):
        if str(q1_word).strip().lower() in str(row['question2']).strip().lower():
            common_words.append(str(q1_word).strip().lower())
    return len(set(common_words))

In [6]:
data['common_word_count'] = data.apply(find_common_words, axis=1)
data.head()

,id,qid1,qid2,question1,question2,is_duplicate,q1_num_char,q2_num_char,q1_num_words,q2_num_words,common_word_count
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0,66,57,14,12,11
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0,51,88,8,13,4
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0,73,59,14,10,7
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0,50,65,11,9,1
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0,76,39,13,7,3

In [7]:
def total_words(row):
    w1 = set(row.astype(str)['question1'].strip().lower().split(' '))
    w2 = set(row.astype(str)['question2'].strip().lower().split(' '))
    return len(w1) + len(w2)

In [8]:
data['total_word_count'] = data.apply(total_words, axis=1)
data.head()

,id,qid1,qid2,question1,question2,is_duplicate,q1_num_char,q2_num_char,q1_num_words,q2_num_words,common_word_count,total_word_count
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0,66,57,14,12,11,23
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0,51,88,8,13,4,20
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0,73,59,14,10,7,24
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0,50,65,11,9,1,19
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0,76,39,13,7,3,20

In [9]:
data['word_share'] = round(data['common_word_count']/data['total_word_count'], 2)
data.head()

,id,qid1,qid2,question1,question2,is_duplicate,q1_num_char,q2_num_char,q1_num_words,q2_num_words,common_word_count,total_word_count,word_share
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0,66,57,14,12,11,23,0.48
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0,51,88,8,13,4,20,0.20
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0,73,59,14,10,7,24,0.29
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0,50,65,11,9,1,19,0.05
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0,76,39,13,7,3,20,0.15

In [10]:
data.to_csv(r'basic_featured_data.csv', index=False)