In [3]:
import pandas as pd

In [4]:
data = pd.read_csv(r"../1. data_gathering\data\train.csv\train.csv")
data.head(3)

,id,qid1,qid2,question1,question2,is_duplicate
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0

In [11]:
data['q1_num_char'] = data['question1'].str.len()
data['q2_num_char'] = data['question2'].str.len()
data.head()

,id,qid1,qid2,question1,question2,is_duplicate,q1_num_words,q2_num_words,q1_num_char,q2_num_char
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0,14,12,66.0,57.0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0,8,13,51.0,88.0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0,14,10,73.0,59.0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0,11,9,50.0,65.0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0,13,7,76.0,39.0

In [12]:
data['q1_num_words'] = data['question1'].astype(str).apply(lambda x: len(x.split(' ')))
data['q2_num_words'] = data['question2'].astype(str).apply(lambda x: len(x.split(' ')))
data.head()

,id,qid1,qid2,question1,question2,is_duplicate,q1_num_words,q2_num_words,q1_num_char,q2_num_char
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0,14,12,66.0,57.0
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0,8,13,51.0,88.0
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0,14,10,73.0,59.0
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0,11,9,50.0,65.0
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0,13,7,76.0,39.0

In [83]:
def find_common_words(row):
    common_words_count=0
    # return row['question1']
    for q1_word in row['question1'].split(' '):
        if q1_word.strip().lower() in row['question2'].strip().lower():
            common_words_count+=1
    return common_words_count

In [85]:
data['common_word_count'] = data.apply(find_common_words, axis=1)
data.head()